---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro.">
  <Section>
    No colored section above the gray unlike the <a href="/example">
      example page</a
    >
  </Section>
</Layout>
